<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <div class="contanier">
        <div class="row justify-content-center">
            <div class="col-md-6 offset-md-3">
                <h1>${message}</h1>
            </div>
        </div>
        <div class="col-md-6 offset-md-3" style="margin-top: 50px; padding: 50px 0 50px 0">
            <router-view></router-view>
        </div>
    </div>
</template>
