﻿<template>
    <div class="card">
        <div class="card-header text-center">
            Enter product details
        </div>
        <div class="card-body">
            <div class="col-8 offset-2">
                <div class="row form-group form-inline justify-content-center">
                    <div class="col-4">
                        <label for="nameInput">Your email :</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="nameInput" placeholder="my@email.com" value.bind="enteredInfo.buyerName" />
                    </div>
                </div>
                <div class="row form-group form-inline justify-content-center">
                    <div class="col-4">
                        <label for="productInput">Product name :</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="productInput" placeholder="Refrigerator" value.bind="enteredInfo.productName" />
                    </div>
                </div>
                <div class="row form-group form-inline justify-content-center">
                    <div class="col-4">
                        <label for="priceInput">Product price :</label>
                    </div>
                    <div class="col-8">
                        <input type="number" class="form-control" id="priceInput" placeholder="59" value.bind="enteredInfo.productPrice" /> PLN
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-danger float-right" click.trigger="leave()">
                        <span class="oi oi-chevron-left"></span>
                        Back
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-success" disabled.bind="enteredInfo == null" click.trigger="sendData()">
                        <span class="oi oi-chevron-right"></span>
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
