﻿<template>
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h3>Payment status : <span class="${status ? 'text-ok' : 'text-wrong'}">${status ? 'confirmed' : 'not confirmed'}</span></h3>
                <div style="margin-top: 15px">
                    ${message}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-4 offset-4 text-center">
                    <button class="btn btn-dark" click.trigger="leave()">
                        <span class="oi oi-reload"></span>
                        Again
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
