﻿<template>
    <div class="row justify-content-center">
        <button click.trigger="startPayment()" class="btn btn-dark">Begin payment</button>
    </div>
    <div class="card" style="opacity: 0.5; margin-top: 100px">
        <div class="card-header">
            Simulate payment result
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <button click.trigger="success()" class="btn btn-success simple-btn">Successful payment</button>
            </div>
            <div class="row justify-content-center">
                <button click.trigger="fail()" class="btn btn-warning simple-btn">Fail payment</button>
            </div>
        </div>

    </div>
    
</template>